*{
    margin: 0;
    padding: 0;
}

.content{
    padding: 20px;
    display: grid;
    grid-column: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: aquamarine;
}

figure{
    text-align: center;
    background-color: aqua;
    width: 250px;
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
}

img{
    width: 100%;
}

button{
    border: none;
    background-color: rgb(21, 255, 13);
    color: blue;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}